.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    background-color: rgba(165, 42, 42, 0.911);
}

.screen {
    display: flex;
    padding: 8px;
    flex-direction: column;
    border: 1px solid transparent;
    padding-top: 4px;
    height: 40px;
    width: 245px;
    border-radius: 4px;
    background-color: rgb(202, 231, 249);
}

.upperScreen {
    display: flex;
    font-size: smaller;
    justify-content: flex-end;
}

.lowerScreen {
    display: flex;
    font-size: larger;
    margin-top: auto;
    justify-content: flex-end;
}

.row {
    display: flex;
    gap: 8px;
}

button {
    font-weight: bolder;
    padding: 8px;
    border: 1px solid burlywood;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    text-align: center;
}